---
http_interactions:
- request:
    method: get
    uri: https://clubspark.ca/v0/VenueBooking/TBCHubRichmond/GetVenueSessions?endDate=2022-12-10&resourceID=&startDate=2022-12-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"TimeZone":"America/Los_Angeles","EarliestStartTime":360,"LatestEndTime":1410,"MinimumInterval":30,"HideResourceProperties":true,"Resources":[{"ID":"6a82f1e7-b31a-4222-8482-5a5f8d75ef93","Name":"Bubble
        Court 1","Number":0,"Location":1,"Lighting":0,"Surface":6,"Size":0,"Category":0,"Days":[{"Date":"2022-12-06T00:00:00","Sessions":[{"ID":"821c3382-95b6-4021-93ae-8398708c715d","Category":0,"SubCategory":0,"Name":"All
        court times & fees 2","Restrictions":"Member","StartTime":360,"EndTime":390,"Interval":30,"MaxSinglesSlots":0,"MaxDoublesSlots":0,"Capacity":1,"Recurrence":false,"CostFrom":0.0,"CourtCost":0.00,"LightingCost":0.00,"MemberPrice":0.0,"GuestPrice":0.0},{"ID":"e7de5273-b4b7-40fb-98be-6ce1fb31899f","Category":1000,"SubCategory":0,"Name":"Booking","Colour":"#fcfabd","StartTime":390,"EndTime":450,"Interval":60,"MaxSinglesSlots":0,"MaxDoublesSlots":0,"Capacity":0,"Recurrence":false,"CostFrom":0.0,"CourtCost":28.00,"LightingCost":0.00,"MemberPrice":0.0,"GuestPrice":0.0},{"ID":"821c3382-95b6-4021-93ae-8398708c715d","Category":0,"SubCategory":0,"Name":"All
        court times & fees 2","Restrictions":"Member","StartTime":450,"EndTime":480,"Interval":30,"MaxSinglesSlots":0,"MaxDoublesSlots":0,"Capacity":1,"Recurrence":false,"CostFrom":0.0,"CourtCost":0.[...]
